@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #070F2B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Pastikan overflow disembunyikan */
}
html, body, #root {
  height: 100%;
}
